@model Telia.MVC.Areas.Identity.Pages.Account.Manage.ChangePasswordModel.InputModel
   

   

    <h1>Change users' Password</h1>

   <h4></h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangePassword">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="OldPassword" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

