<div class="align-middle">
    <h1 class=" text-black-50 "> This content is for site Users within Customer role</h1>
    <p >I know. It lacks an implementation. <br />
        It's task is to demonstrate only.<br />
        But still you can get an idea.
    </p>
</div>