@{
    ViewData["Title"] = "Summary page";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">  <p class="text-center text-success"> What is done</p> </div>
        <div class="col-md-6">  <p class="text-center text-warning"> What could have been done</p> </div>
    </div>
</div>