@using Microsoft.AspNetCore.Identity
@using Telia.MVC.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{

    if (User.IsInRole("Admin") )
    {
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-primary mx-3" asp-area="Index" asp-controller="Users" asp-action="Index">Admin Panel</a>
        </li>
      
    }
}
