@using Microsoft.AspNetCore.Identity
@using Telia.MVC.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{

    if (User.IsInRole("Moderator"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ModeratorsStuff"><b>Moderato</b></a>
        </li>

    }
}
