@using Microsoft.AspNetCore.Identity
@using Telia.MVC.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{

    if (User.IsInRole("Moderator"))
    {
        <li class="nav-item">
            <a class="nav-link  btn btn-outline-dark mx-3" asp-area="" asp-controller="Home" asp-action="ModeratorsStuff">Moderator</a>
        </li>

    }
}
