@using Microsoft.AspNetCore.Identity
@using Telia.MVC.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{

    if (User.IsInRole("Customer"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark mx-3" asp-area="" asp-controller="Home" asp-action="CustomerArea">Customer area</a>
        </li>

    }
}
